name: Deploy to WordPress.org
on:
  release:
    types: [published]

jobs:
  tag:
    name: New release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      env:
        # set the username hardcoded
        SVN_USERNAME: wprepublic
        # password using secrets
        SVN_PASSWORD: ${{ secrets.DEPLOY_PASS }}
